#coupons-register .container {
    padding-top: 0;
}

#coupons-update main h1,
#coupons-register main h1 {
    margin: 0 auto;
}

#coupons-update form.update-coupom-form,
#coupons-register form.create-coupom-form {
    width: 100%;
    max-width: 52rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}


#coupons-list .status {
    max-width: 12rem;
    justify-content: start;
}

#coupons-list .status svg {
    stroke: var(--status-inative-color);
    fill: none;
}

#coupons-list .status.status-current svg {
    stroke: var(--status-active-color);

}

#coupons-list .status.status-expired svg {
    stroke: var(--status-expired-color);

}

#coupons-list .status.status-scheduled svg {
    stroke: var(--status-scheduled-color);

}