  :root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    --brand-color: #0f52ff;
    --brand-colo-hover: #336dff;
    --brand-color-secondary: #5BD0F4;
    --border-radius-md: 4px;
    --border-radius-lg: 8px;
    --border-radius-xl: 16px;
    --error-color: #f04438;

    font-size: 10px;

  }

  html {
    --text-color-primary: #111827;
    --text-color-secondary: #374151;
    --text-colo-white: #ffffff;
    --border-primary-color: #e5e7eb;
    --bg-hover: #e5e7eb80;
    --bg-color: #ffffff;
    --status-active-color: #059669;
    --status-inative-color: #9ca3af;
  }

  html[data-theme='dark'] {
    --text-color-primary: #f9fafb;
    --text-color-secondary: #d1d5db;
    --border-primary-color: #1f2937;
    --bg-hover: #111827;
    --bg-color: #050814;
    --status-active-color: #10b981;
    --status-inative-color: #4b5563;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    accent-color: var(--brand-color);
    outline-color: var(--brand-color);
    scrollbar-width: thin;
    scrollbar-color: var(--border-primary-color) transparent;
  }


  html,
  body {
    max-height: 100%;
    max-width: 100%;
  }

  body {
    height: 100vh;

    background-color: var(--bg-color);
    color: var(--text-color-secondary);

    display: flex;
    flex-direction: column;
    gap: 32px;

    font-size: 1.6rem;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  button,
  input,
  label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }

  a {
    color: var(--text-color-secondary);
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  .layout {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .layout .main-container-content {
    flex: 1;
  }

  .layout .switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.7rem;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 0.1rem #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(1.3rem);
    -ms-transform: translateX(1.3rem);
    transform: translateX(1.3rem);
  }

  .slider.round {
    border-radius: 1.7rem;
  }

  .slider.round:before {
    border-radius: 50%;
  }


  /* Siderbar */



  .sidebar {
    padding: 2rem;

    display: none;
    flex-direction: column;
    gap: 2rem;

    border-right: solid 1px var(--border-primary-color);
  }

  .logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  .logo-container .logo-image {
    height: 3.5rem;
  }

  .sidebar nav {
    flex: 1;
  }


  nav .nav-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .nav-list .nav-item a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--text-color-secondary);
    padding: 1rem 1rem;
    border-radius: var(--border-radius-md);
    transition: background-color .3s;
  }

  .nav-list .nav-item a:hover {
    background-color: var(--bg-hover);
  }

  .nav-list .nav-item a.active {
    color: var(--brand-color);
    font-weight: 500;
  }

  .nav-list .nav-item a svg {
    width: 2rem;
    height: 2rem;
  }


  @media (min-width: 768px) {
    .layout .sidebar {
      display: flex;
    }
  }