/* Estilos globais */

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  --cor-primaria-marca: #0f52ff;
  --cor-backgroud: #ffffff;

  --cor-titulo: #101828;
  --cor-texto: #475467;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: var(--cor-primaria-marca);
  outline-color: var(--cor-primaria-marca);
}

html,
body {
  max-height: 100%;
  max-width: 100%;
}

body {
  height: 100vh;
  background-color: var(--cor-backgroud);
  color: var(--cor-titulo);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.conteiner {
  max-width: 1280px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

.titulo-principal {
  color: var(--cor-titulo);
  font-size: 20px;
}

.texto-normal {
  color: var(--cor-texto);
  font-size: 16px;
}

.texto-pequeno {
  color: var(--cor-texto);
  font-size: 14px;
}

/* Componentes  */

.botao {
  width: 100%;
  padding: 12px;
  background-color: var(--cor-primaria-marca);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: #336dff;
}

.input-padrao {
  width: 100%;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
}

.label-padrao {
  color: #475467;
  font-weight: 600;
  font-size: 14px;
  display: block;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.form-error {
  color: #f04438;
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.header-main {
  height: 72px;
  width: 100%;
  border-bottom: 1px solid #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header-main a {
  padding: 8px;
  border-radius: 6px;
  color: #344054;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}

.header-main a:hover,
.header-main a.ativo {
  background-color: #f9f5ff;
  color: var(--cor-primaria-marca);
}

.header-main .logo {
  width: 150px;
}

.header-item-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-item-container.search-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 300px;
}

.search-products {
  border: 3px solid transparent;
}

.search-products:has(.input-padrao:focus-visible),
.search-products:has(.input-padrao:focus-within),
.search-products:has(.input-padrao:focus) {
  border: 3px solid var(--cor-primaria-marca);
  border-radius: 8px;
}

.search-products form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.search-products .input-padrao {
  border-radius: 4px 0 0 4px;
  width: 100%;
  outline: 0;
}

.search-products .botao {
  width: inherit;
  border-radius: 0 4px 4px 0;
  max-width: 48px;
  outline: 0;
}

.address-delivery-info {
  display: flex;
  gap: 4px;
  align-items: center;
}

.address-details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  text-wrap: nowrap;
}

.address-details span {
  font-size: 12px;
  font-weight: normal;
}

.account {
  font-size: 14px;
}
.account a {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
}

.account span {
  font-size: 12px;
}

.cart a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 14px;
}

.cart svg {
  width: 32px;
  height: 32px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copy {
  font-size: 12px;
}

@media (max-width: 400px) {
  .input-padrao {
    padding: 8px;
  }

  .label-padrao {
    font-size: 12px;
  }

  .botao {
    padding: 8px;
  }
}

@media (max-width: 400px) {
  .titulo-principal {
    font-size: 18px;
  }

  .texto-normal {
    font-size: 14px;
  }

  .texto-pequeno {
    font-size: 10px;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}

/* Estilos página login */

#login .container {
  gap: 42px;
}

.img-container {
  width: 100%;
  height: 100%;
  background: center / cover no-repeat
    url("../../assets/images/cover-image.png");
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

main .logo {
  height: 38px;
}

main .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#login .form-container {
  gap: 36px;
}

#login .form-container .botao {
  margin-top: 24px;
}

.form-header h2 {
  margin-bottom: 8px;
}

.form-conteudo {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.esquece-senha {
  color: var(--cor-primaria-marca);
  font-weight: 600;
  text-decoration: none;
  text-align: right;
  display: inline-block;
  transition: opacity 0.3s;
}

.esquece-senha:hover {
  opacity: 0.8;
}
.account-register {
  text-align: center;
  font-size: 14px;
}

.account-register a {
  color: var(--cor-primaria-marca);
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 800px) {
  #login {
    grid-template-columns: 1fr;
  }

  main {
    gap: 24px;
    padding: 0;
  }

  aside {
    display: none;
  }
}

@media (max-width: 500px) {
  main {
    gap: 24px;
  }

  main .logo {
    height: 32px;
  }

  .form-container {
    gap: 12px;
  }
}

@media (max-width: 360px) {
  #login {
    gap: 12px;
  }

  footer .copy {
    text-align: center;
  }

  #register .field-container {
    flex-direction: column;
  }
}

/* página de cadastro */

#register .field-container {
  display: flex;
  gap: 8px;
}

#register .container {
  gap: 32px;
}

/* Página inicial */
